version: "2.4"

services:
  web:
    image: paneldata/ddionrails:latest-dev
    command: tail -f /dev/null
    depends_on:
      postgres:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      selenium-firefox:
        condition: service_started
    env_file:
      - docker/environments/django.env.example
      - docker/environments/database.env.example
      - docker/environments/elasticsearch.env.example
    entrypoint: ./docker/ddionrails/entrypoint.sh
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.testing
      DJANGO_LIVE_TEST_SERVER_ADDRESS: web:9000 # bind live server to a fixed port
      ELASTICSEARCH_DSL_INDEX_PREFIX: testing_
    pids_limit: -1
    volumes:
      - ./codecov:/usr/src/app/codecov
      - ./dist:/usr/src/app/static/dist
      - ./assets:/usr/src/app/assets
      - ./config:/usr/src/app/config
      - ./ddionrails:/usr/src/app/ddionrails
      - ./docker:/usr/src/app/docker
      - ./local:/usr/src/app/local
      - ./static:/usr/src/app/static
      - ./templates:/usr/src/app/templates
      - ./tests:/usr/src/app/tests
      - ./manage.py:/usr/src/app/manage.py
      - ./logging.conf:/usr/src/app/logging.conf
      - ./package-lock.json:/usr/src/app/package-lock.json
      - ./package.json:/usr/src/app/package.json
      - ./pavement.py:/usr/src/app/pavement.py
      - ./setup.cfg:/usr/src/app/setup.cfg
      - ./Pipfile:/usr/src/app/Pipfile
      - ./Pipfile.lock:/usr/src/app/Pipfile.lock
      - ./webpack.config.js:/usr/src/app/webpack.config.js
    ports:
      - 9000 # used for live server test

  postgres:
    env_file:
      - docker/environments/database.env.example

  nginx:
    volumes:
      - ./docker/nginx/nginx.dev.conf:/etc/nginx/nginx.conf

  selenium-firefox:
    image: selenium/standalone-firefox:4.0.0-rc-2-prerelease-20210923
    shm_size: "2gb"
    ports:
      - 4444
    networks:
      - ddi_net
