[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-extensions = "*"
django-model-utils = "*"
django-rq = "*"
redis = "==3.0.1"
django-webpack-loader = "*"
pyyaml = "*"
markdown = "*"
elasticsearch-dsl = "==2.2.0"
bibtexparser = "*"
paver = "*"
fabric = "*"
idna = "==2.7"


[dev-packages]

black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
radon = "*"
codecov = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
pytest-selenium = "*"
factory-boy = "*"
django-coverage-plugin = "*"
django-test-without-migrations = "*"
fakeredis = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
django-debug-toolbar = "*"
django-silk = "*"
werkzeug = "*"
pre-commit = "*"


[requires]

python_version = "3.6"
