[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]
# Django related libraries
django = "==2.1.7" # pin temporarily until 2.2 is production ready
django-extensions = "*"
django-model-utils = "*"
django-rq = "*"
django-webpack-loader = "*"
django-import-export = "*"
django-click = "*"
django-crispy-forms = "*"

# Markup related libraries
pyyaml = "*"
markdown = "*"

# Elasticsearch
elasticsearch-dsl = "==2.2.0"

# Needed for Publications
bibtexparser = "*"

# Project scripting
paver = "*"
fabric = "*"
redis = "==3.1" # pin temporarily

[dev-packages]
# Linters and code style
black = "==18.9b0" # pin until black leaves pre-release status
flake8 = "*"
isort = "*"
mypy = "*"
codecov = "*"

# Testing
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
pytest-selenium = "*"
factory-boy = "*"
django-coverage-plugin = "*"
django-test-without-migrations = "*"
fakeredis = "*"
splinter = "*"
pytest-splinter = "*"

# Documentation
sphinx = "*"
sphinx-rtd-theme = "*"

# Libraries for local development
django-debug-toolbar = "*"
werkzeug = "*"
pre-commit = "*"

[requires]
python_version = "3.6"
