[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
#
#
#

[packages]
#
#
# Temporarily pinned
# ------------------------------------------------------------------------------
#
#
# Django
# ------------------------------------------------------------------------------
babel = ">=2.12.1"
django = ">=4.2.3"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
django-extensions = "*"
django-import-export = "*"
django-model-utils = "*"
django-rq = "*"
django-webpack-loader = "*"
gunicorn = "*"
djangorestframework = ">=3.14.0"
django_filer = "*"
# PostgreSQL
# ------------------------------------------------------------------------------
psycopg2-binary = "*"
#
#
# Elasticsearch
# ------------------------------------------------------------------------------
django-elasticsearch-dsl = "*"
elasticsearch-dsl = "<=8.*"
#
#
# Markup
# ------------------------------------------------------------------------------
markdown = "*"
python-frontmatter = "*"
#
# Other
# ------------------------------------------------------------------------------
gitpython = "<3.1.39"
paver = "*"
requests = "*"
#
#

[dev-packages]
# Dependency incompatibility pin
packaging = ">=22.0"
#
#
# Code quality
# ------------------------------------------------------------------------------
autoflake = "*"
bandit = "*"
black = "*"
django-stubs = "*" # For mypy
djangorestframework-stubs = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pylint = "*"
pylint-django = "*"
pylint-unittest = "*"
pylance = "*"
types-markdown = "*"
#
#
# Testing
# ------------------------------------------------------------------------------
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
factory-boy = "*"
django-coverage-plugin = "*"
requests-mock = "*"
#
# Documentation
# ------------------------------------------------------------------------------
sphinx = "*"
sphinx-rtd-theme = "*"
#
# Local
# ------------------------------------------------------------------------------
django-debug-toolbar = "*"
rope = "*" # python refactoring tool
pygraphviz = "*" # used for python manage.py graph_models
werkzeug = "==2.2.3"
selenium = "*"
