{% extends "base.html" %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.errors }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-4 offset-md-4">
            <div class="card">
                <div class="card-header">
                    <b>User login</b>
                </div>
                <div class="card-body">

                    <form method="post" action="{% url 'workspace:login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username">Username:</label>
                            <input class="form-control" id="id_username" maxlength="254" name="username" type="text">
                        </div>
                        <div class="form-group">
                            <label for="id_password">Password:</label>
                            <input class="form-control" id="id_password" name="password" type="password">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Login">
                        <input type="hidden" name="next" value="">
                    </form>

                    <hr>
                    <p>New user? Register <a href="{% url 'workspace:register' %}">here</a>.</p>
                    <p>Forgot your password? Create a new one <a href="{% url 'workspace:password_reset' %}">here</a>.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}