{% extends "base.html" %}

{% block content %}


{% if form.errors %}
  <div class="alert alert-danger" role="alert">
    {{ form.errors }}
  </div>
{% endif %}

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>User registration</b>
      </div>
      <div class="panel-body">

<form method="post" action="/workspace/register/">
  {% csrf_token %}
  {% comment %}{{ form.as_p }}{% endcomment %}
  <div class="form-group">
    <label for="id_username">Username:</label>
    <input class="form-control" id="id_username" maxlength="30" name="username" type="text" />
    <span class="small">Required. 30 characters or fewer.<br />Letters, digits and @/./+/-/_ only.</span>
  </div>
    <div class="form-group">
    <label for="id_email">Email address:</label>
    <input class="form-control" id="id_email" maxlength="254" name="email" type="email" />
  </div>
  <div class="form-group">
    <label for="id_password1">Password:</label>
    <input class="form-control" id="id_password1" name="password1" type="password" />
  </div>
  <div class="form-group">
    <label for="id_password2">Password confirmation:</label>
    <input class="form-control" id="id_password2" name="password2" type="password" />
    <span class="small">Enter the same password as above, for verification.</span>
  </div>
  <input class="btn btn-primary" type="submit" value="Register" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

      </div>
    </div>
  </div>
</div>




{% endblock %}

