<div class="panel panel-default">
  <div class="panel-heading">
    <b>Related variabels</b>
  </div>
  <div class="panel-body">
    <div class="row">
      {% for period_name, variables in variable_list.items %}
      <div class="col-md-3">
        {{ period_name }}:<br/>
        {% for variable in variables %}
        <a href="{{ variable }}">{{ variable.dataset.name }}/{{ variable.name }}</a><br/>
        {% endfor %}
      </div>
      {% if row_helper.row %}
    </div>
    <div class="row" style="margin-top: 15px">
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
