<div class="panel panel-default">
  <div class="panel-heading">
    <b>Info</b>
  </div>
  <div class="panel-body">
    <p>
      <b>Variable name (case sensitive):</b>
      <a href="{{ variable }}">{{ variable.get_name_cs }}</a>
    </p>
    <p>
      <b>Dataset:</b>
      <a href="{{ variable.dataset }}">
        {{ variable.dataset.name }}
        <small>– {{ variable.dataset.label }}</small>
      </a>
    </p>
    <p>
      <b>Study:</b>
      <a href="{{ study }}">{{ study.title }}</a>
    </p>
    {% include "publications/attachments_partial.html" with attachments=variable.attachments %}
    <hr />
    <p>
      <b>Description:</b>
      {{ variable.html_description | safe }}
    </p>
    <p>
      {{ variable.html_description_long | safe }}
    </p>
    <hr />
    <p>
      <b>Analysis unit:</b>
        {{ variable.dataset.analysis_unit.title }}
    </p>
    <p>
      <b>Period:</b>
        {{ variable.dataset.period.title }}
    </p>
    <p>
      <b>Conceptual Dataset:</b>
        {{ variable.dataset.conceptual_dataset.title }}
    </p>
    <hr />
    <p>
      <b>Concept:</b>
      {% if concept %}
        <a href="{{ concept }}">{{ concept.title }}</a>
      {% else %}
        No concept available.
      {% endif %}
    </p>
    <p><b>Question:</b></p>
    <ul>
    {% for question in questions %}
      <li><a href="{{ question }}">{{ question.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
