{% extends "base_study.html" %}
{% load render_bundle from webpack_loader %}

{% block entity_metadata %}
    <meta name="concept" content="{% firstof variable.concept.name "" %}">
    <meta name="period" content="{{ variable.dataset.period.name }}">
    <meta name="dataset" content="{{ variable.dataset.name }}">
    <meta name="variable" content="{{ variable.name }}">
{% endblock entity_metadata %}
{% block title %}
    {{ variable.dataset.name}}/{{ variable.name }}
{% endblock title %}
{% block styles %}
    <!-- Webpack bundle: "visualization" CSS -->
    {% render_bundle 'visualization' 'css' %}
    {% render_bundle 'variables' 'css' %}
    {% render_bundle 'description_modal' 'css' %}
{% endblock styles %}
{% block content %}
    {% csrf_token %}
    {{ variable_baskets_context|json_script:"context_data" }}
    <h1><i class="fa fa-chart-bar" title="Variable"></i>
        {{ variable.dataset.name}}/{{ variable.name }}:
        <span data-en="{{ variable.label }}" data-de="{{ variable.label_de }}"></span>
    </h1>
    <div class="row">
        <div class="col-lg-8">
            {% if variable.images %}
                {% if variable.images.de and variable.images.en %}
                <img src="{{ variable.images.de }}" class="img-fluid lang de">
                <img src="{{ variable.images.en }}" class="img-fluid lang en">
                {% elif variable.images.de %}
                <img src="{{ variable.images.de }}" class="img-fluid">
                {% elif variable.images.en %}
                <img src="{{ variable.images.en }}" class="img-fluid">
                {% endif %}
            {% else %}
            <div class="btn-toolbar" id="chart-toolbar" role="toolbar" aria-label="...">
                <div class="float-right" aria-label="..."
                     id="vis_menu">
                    <a type="button" class="btn opt btn-info chart_nav" id="percent">Percent</a>
                    <a type="button" class="btn opt btn-info chart_nav"
                       id="missings">Hide Missings</a>
                </div>
            </div>
            <div id="menu"></div>
            <div id="chart"></div>
            <div id="chart_missings"></div>
	    <div id="variable-relations" class="card">
		    <div class="card-header" id="variable-relations-header">
			    <span data-de="Relationen zu der aktuellen Variable: <b>{{ variable.dataset.name}}/{{ variable.name }}</b>" data-en="Relations to current variable: <b>{{ variable.dataset.name}}/{{ variable.name }}</b>"></span>
					<div class="btn-group" id="relations-buttons-container" role="group" aria-label="Variable relations toggle buttons">
					  <button 
						  type="button" 
						  id="concept-relation-toggle" 
						  class="btn btn-secondary active" 
						  disabled
						  data-title-de="Wechsle Sichtbarkeit von Relationen Variablen mit demselben Konzept"
						  data-title-en="Toggle relations between variable sharing the same concept"
						  >
						  <i class="fa fa-cog fa-sm"></i>
					  </button>
					  <button
						  type="button"
						  id="sibling-relation-toggle"
						  class="btn btn-secondary  active"
						  disabled
						  data-title-de="Wechsle Sichtbarkeit von Relationen zwischen Variablen mit derselben harmonisierten Variable"
						  data-title-en="Toggle relations between the same harmonized variable"
						  >
						  <i class="fa-solid fa-handshake fa-sm"></i>
					  </button>
					  <button
						  type="button"
						  id="output-relation-toggle" 
						  class="btn btn-secondary active"
						  disabled
						  data-title-de="Wechsle Sichtbarkeit von Relationen zu output Variablen"
						  data-title-en="Toggle relations to output variables"
						  >
						  <i class="fa-solid fa-circle-left fa-sm"></i>
					  </button>
					  <button
						  type="button"
						  id="input-relation-toggle"
						  class="btn btn-secondary active"
						  disabled
						  data-title-de="Wechsle Sichtbarkeit von Relationen von input Variablen"
						  data-title-en="Toggle relations from input variables"
						  >
						  <i class="fa-solid fa-circle-right fa-sm"></i>
					  </button>
					</div>
		    </div>
		    <div class="card-body"></div>
	    </div>
            {% endif %}

            {% if variable.has_translations and variable.translation_table %}
                {% include "data/translation_table.html" %}
            {% endif %}
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <b><span data-en="Basket" data-de="Variablensammlung"></span></b>
                </div>
                <div class="list-group" id="basket-list">
                    {% if user.is_authenticated %}
                        </div>
                        <div class="card-body text-right">
                        <button  class="btn btn-secondary basket-create-button">
                            <a href="{% url 'workspace:basket_new' %}/?next={% firstof request.path '/' %}">
                                <span
                                    data-en="Create a new basket"
                                    data-de="Neue Variablensammlung anlegen"></span>
                            </a>
                        </button>
                    {% else %}
                        </div>
                        {% if request.COOKIES.paneldata_language == "de" %}
                            <div class="card-body">
                            Bitte <a href="{% url 'workspace:login' %}?next={% firstof request.path '/' %}">melden Sie sich an</a>
                            oder <a href="{% url 'workspace:register' %">registrieren ein Nutzerkonto</a>
                            um Ihre Variablensammlungen zu verwalten.
                        {% else %}
                            <div class="card-body">
                            Please <a href="{% url 'workspace:login' %}?next={% firstof request.path '/' %}">login</a>
                            or <a href="{% url 'workspace:register' %">register</a>
                            to
                            use the basket functionality.
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% include "data/variable_info.html" %}
            {% include "data/statistics_partial.html" %}
        </div>
    </div>
    <div id="label-table" class="hidden">
        <h2>Codes of related variables with the same concept</h2>
        <p>This table provides you with an overview of label definitions across
            related variables to identify changes over time in longitudinal variables.
            The first number indicates the value code, the second number (in brackets)
            represents the frequency in the data. Please note that labels are simplified
            and values with frequency = 0 are hidden.</p>
        <div id="table-container" data-bs-type="label-table">
        <table id="value-labels-table"
               class="display table table-striped table-bordered"
               width="100%"></table>
        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <!-- Webpack bundle: "visualization" JS -->
    {% render_bundle 'variable_view_basket_button' 'js' %}
    {% render_bundle 'focus_anchor' 'js' %}
    {% render_bundle 'visualization' 'js' %}
    {% render_bundle 'description_modal' 'js' %}
    {% render_bundle 'variable_labels' 'js' %}
    {% render_bundle 'variable_relations' 'js' %}
{% endblock scripts %}
</div>
