{% extends "base.html" %}

{% block title %}Contact | paneldata.org{% endblock title %}

{% block content %}

    <h1 data-en="Contact / feedback" data-de="Kontakt / Feedback" ></h1>
    <hr/>
    <p><strong>
	    <span data-en="You have questions regarding the SOEP data?" data-de="Sie haben Fragen zu den SOEP Daten?"></span>
    </strong></p>
    <p>
    <span data-en="Please contact our" data-de="Bitte melden Sie sich bei unserem"></span>
        <a href="https://www.diw.de/en/diw_02.c.222310.en/contact.html">SOEP Community Management</a>.
    </p>
    <hr/>
    <p><strong>
	    <span data-en="You have feedback regarding the software running on paneldata.org?"
		    data-de="Sie haben Feedback zu der Software auf der paneldata.org basiert?"></span>
    </strong></p>
    <p>
    <span data-en="Please open an issue in our" data-de="Bitte öffnen Sie ein Issue in userem"></span>
        <a href="https://github.com/ddionrails/ddionrails/issues">GitHub-repository</a>.
    </p>

{% endblock content %} 
