{% extends "base.html" %}

{% block content %}

    <h1>Contact / feedback</h1>

    <hr/>

    <p><strong>You have questions regarding the SOEP data?</strong></p>

    <p>
        Please contact our
        <a href="https://www.diw.de/en/diw_02.c.222310.en/contact.html">SOEP Hotline</a>.
    </p>

    <hr/>

    <p><strong>
        You have feedback regarding the software running on paneldata.org?
    </strong></p>

    <p>
        Please open an issue in our
        <a href="https://github.com/ddionrails/ddionrails/issues">GitHub-repository</a>.
    </p>

{% endblock content %} 
