{% extends "base.html" %}

{% block content %}

  {% if not user.is_authenticated %}
    <div class="alert alert-success">
      <b>Update March 2019:</b>
      A completely redesigned topic list enables interest-driven access to variables and questions.
      Related questions show how a question has evolved in time.
      New tables for related variables, input and output variables show relations between variables.
      <br />
      The presented information will soon be updated to the recently released v34 data from SOEP-Core.
    </div>
  {% endif %}
  <img class="img-responsive"
       src="/static/repositories/system/ddionrails/background.png">

  <div class="list-group">
    {% for study in study_list %}
      {% include "studies/study_result.html" %}
    {% endfor %}
  </div>
{% endblock content %}
