{% extends "base.html" %}
{% load static %}

{% block title %}Home | paneldata.org{% endblock title %}

{% block content %}

    {% if not user.is_authenticated %}
        {% if news %}
            <div class="alert alert-success mx-auto p-4">
                {{ news | safe }}
            </div>
        {% endif %}
    {% endif %}
    <img class="img-fluid mx-auto" src="{% static 'background.png' %}">

    <div class="list-group">
        {% for study in study_list %}
            <li class="list-group-item" id="study_list">
                <b><a href="{{ study.get_absolute_url }}">{{ study.title }}</a></b>
            </li>
        {% endfor %}
    </div>
{% endblock content %}
