{% extends "base.html" %}

{% block title %}Imprint | paneldata.org{% endblock title %}

{% block content %}

    <h1 data-en="Imprint" data-de="Impressum">Imprint</h1>
    <p data-en="Contact: {{ CONTACT_EMAIL }}" data-de="Kontakt: {{ CONTACT_EMAIL }}"></p>
    <h2 data-en="Institute and Address" data-de="Institut und Adresse"></h2>
    <p data-en='<a href="{{ INSTITUTE_HOME_URL.en }}">{{ INSTITUTE_HOME_URL.en }}</a>' data-de='<a href="{{ INSTITUTE_HOME_URL.de }}">{{ INSTITUTE_HOME_URL.de }}</a>'></p>

    <h2 data-en="Privacy policy at {{ INSTITUTE_NAME }}" data-de="Datenschutzrichtlinie des {{ INSTITUTE_NAME }}"></h2>
    <p data-en='<a href="{{ PRIVACY_POLICY.en }}">{{ PRIVACY_POLICY.en }}</a>' data-de='<a href="{{ PRIVACY_POLICY.de }}">{{ PRIVACY_POLICY.de }}</a>'></p>

{% endblock content %} 
