{% extends "base.html" %}

{% block title %}Imprint | paneldata.org{% endblock title %}

{% block content %}

    <h1>Imprint</h1>
    <p>Contact: {{ DEFAULT_FROM_EMAIL }}</p>
    <p><strong>Organization and Address</strong></p>
    <p>SOEP im Deutschen Institut für Wirtschaftsforschung e.V. (DIW Berlin)<br/>
        Mohrenstraße 58<br/>
        10117 Berlin<br/>
        Phone +49-30-897 89-0<br/>
        Fax +49-30-897 89-200<br/>
        <a href="https://www.diw.de/en/soep">www.diw.de/en/soep</a></p>
    <p><strong>Executive Board</strong></p>
    <p>Prof. Marcel Fratzscher, Ph.D., President<br/>
        Prof. Dr. Stefan Liebig, Executive Board Member<br/>
        Angelica E. Röhr, Managing Director</p>
    <p><strong>Registration Court</strong></p>
    <p>Local Court Berlin-Charlottenburg</p>
    <p><strong>Association Register Number</strong></p>
    <p>95 VR 136 NZ</p>
    <p><strong>Value Added Tax Identification Number</strong></p>
    <p>DE 136622485</p>

    <h2>Privacy policy at DIW Berlin</h2>
    <p>In German: <a href="https://www.diw.de/datenschutz">https://www.diw.de/datenschutz</a></p>
    <p>In English: <a href="https://www.diw.de/dataprotection">https://www.diw.de/dataprotection</a></p>

{% endblock content %} 
