{% extends "base.html" %}

{% block title %}PID Archive | paneldata.org{% endblock title %}

{% block content %}

    <div class="lang en">
        <h1>Variable {{ variable }} of dataset {{ dataset }}</h1>
        <p>This variable was part of the study {{ study.title }} in version {{ version }}</p>
        {% if url %}
        <p>There exists documentation for the
        <a href="{{ url }}" title="Equivalent">equivalent variable</a>
        in the current version {{ current_version }}.
        </p>
        {% endif %}
    </div>
    <div class="lang de">
        <h1>Variable {{ variable }} aus Datensatz {{ dataset }}</h1>
        <p>Diese Variable war Teil der {{ study.title }} Studie in der Version {{ version }}</p>
        {% if url %}
        <p>Es existiert Dokumentation einer
        <a href="{{ url }}" title="Equivalent">equivalenten Variable</a>
        in der aktuellen Version {{ current_version }}.
        </p>
        {% endif %}
    </div>

{% endblock content %} 
