{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block styles %}
    <!-- Webpack bundle: "topics" CSS -->
    {% render_bundle 'topics' 'css' %}
    {% render_bundle 'table_navigation' 'css' %}
{% endblock styles %}

{% block scripts %}
    {% render_bundle 'concept_table' 'js' %}
{% endblock scripts %}

{% block content %}
    <h1 data-en="{{ concept.title }}" data-de="{{ concept.title_de }}">{{ concept.title }}</h1>
    <p id="concept-name" value="{{ concept.name }}">[{{ concept.name }}]</p>
    <p 
        data-en="{{ concept.html_description }}"
        data-de="{{ concept.html_description_de }}">
    </p>
    <div id="concept-tables">
        <h2 data-en="Variables" data-de="Variablen"></h2>
        <table id="variable-table" class="table table-striped table-bordered">
        <thead>
        <tr>
        <th data-en="Study" data-de="Studie" ></th>
        <th>Label</th>
        <th>Variable</th>
        <th data-en="Dataset" data-de="Datensatz" ></th>
        </tr>
        </thead>
        </table>
        <h2 data-en="Questions" data-de="Fragen"></h2>
        <table id="question-table" class="table table-striped table-bordered">
        <thead>
        <tr>
        <th data-en="Study" data-de="Studie"></th>
        <th>Label</th>
        <th data-en="Question" data-de="Frage" ></th>
        <th>Instrument</th>
        </tr>
        </thead>
        </table>
    </div>
{% endblock content %} 
