DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=REALLY-SECRET-KEY
ALLOWED_HOSTS=localhost,127.0.0.
IMPORT_REPO_PATH=/var/ddi_studies/
IMPORT_BRANCH=master
SYSTEM_NAME=system
BASE_UUID=40cb5562-bbbe-574a-98c3-f9d1ad3bdf8d
DJANGO_MEDIA_ROOT=/var/django/media
DEFAULT_FROM_EMAIL=webmaster@my-domain.org
FEEDBACK_TO_EMAILS=purpose:purpose@mail.com,purpose2:purpose2@mail.com
STATISTICS_SERVER_URL=/statistics-server/
SHOW_STATISTICS=True
HOME_BACKGROUND_IMAGE=
STUDY_INIT_FILE=https://raw.githubusercontent.com/paneldata/system/3684034807c25c934904288ec8420a24cc95e364/studies.example.json
