DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=REALLY-SECRET-KEY
ALLOWED_HOSTS=localhost,127.0.0.
IMPORT_REPO_PATH=/var/ddi_studies/
IMPORT_BRANCH=master
SYSTEM_NAME=system
SYSTEM_REPO_URL=https://github.com/ddionrails/test-system.git
BASE_UUID=40cb5562-bbbe-574a-98c3-f9d1ad3bdf8d
DJANGO_MEDIA_ROOT=/var/django/media
FROM_EMAIL = webmaster@my-domain.org
