{% extends "base_study.html" %}
{% load render_bundle from webpack_loader %}


{% block view_metadata %}
    <meta name="namespace" content="{{ namespace }}">
{% endblock view_metadata %}


{% block styles%}
<meta name="viewport" content="width=device-width, initial-scale=1">

{% render_bundle "statistics_navigation" "css" %}
{% endblock styles %}

{% block content %}
{{topics|json_script:"topics"}}
{{api_metadata|json_script:"api-metadata"}}

<div id="description-container">
	<div id="description-header-container">
		<h1 data-de="SOEP-Stats" data-en="SOEP-Stats"><h1>
			<h2
			data-de="Ausgewählte Analysen rund um den sozialen Wandel in Deutschland - direkt zum Downloaden"
			data-en="Ready-to-use analyses related to social change in Germany - for immediate Download"><h2>

	</div>
	<p>
		<strong
		data-en="The idea: to make it quicker and easier to view SOEP data."
		data-de="Die Idee: SOEP-Daten schneller und einfacher einsehen."></strong>	
		<span
		data-en="SOEP-Stats is a freely accessible platform that allows you to view and download <a href='https://www.diw.de/en/diw_02.c.102236.en/research_advice/data_service/soep/soep_service.html'>SOEP data</a> without any prior statistical knowledge. This pilot project was developed as part of the third-party funded project SOEP-Transfer."
		data-de="SOEP-Stats ist eine frei zugängliche Plattform, die es Ihnen ohne statistische   Vorkenntnisse ermöglicht, <a href='https://www.diw.de/de/diw_01.c.412809.de/sozio-oekonomisches_panel__soep.html'>SOEP-Daten</a> einzusehen und herunterzuladen. Das Pilotprojekt wurde im Rahmen des Drittmittelprojekts SOEP-Transfer entwickelt."></span>

	</p>
	<p>
		<strong data-en="Important questions and topics at a glance." data-de="Wichtige Fragen und Themen auf einen Blick."></strong>
		<span
		data-en="Our team has compiled a series of relevant socioeconomic variables that are of interest to journalists and the general public. The analyses are already prepared and weighted, meaning that they allow statements to be made about the people living in Germany. In addition, you can use them to track social development over time."
		data-de="Unser Team hat eine Reihe relevanter sozioökonomischer Variablen zusammengestellt, die für Journalist*innen sowie die breite Öffentlichkeit von Interesse sind. Die Analysen sind bereits aufbereitet und gewichtet, so dass sie Aussagen über die Wohnbevölkerung in Deutschland erlauben. Zusätzlich können Sie die gesellschaftliche Entwicklung damit über den Zeitverlauf nachverfolgen."></span>
	</p>
	<p>

		<strong data-en="Citation:" data-de="Zitierhinweis:"></strong>	
		<span
			data-en="When citing information from SOEP-Stats, please use the following citation: “SOEP-Stats, weighted analyses based on SOEP-Core v39 (doi: <a href='https://www.doi.org/10.5684/soep.core.v39eu'>10.5684/soep.core.v39eu</a>)“."
			data-de="Wenn Sie Informationen von SOEP-Stats verwenden möchten, zitieren Sie diese in der folgenden Form: „SOEP-Stats, gewichtete Analysen basierend auf SOEP-Core v39 (doi: <a href='https://www.doi.org/10.5684/soep.core.v39eu'>10.5684/soep.core.v39eu</a>)“."></span>
	
	</p>
	<p>
	<span
		data-en="If you have any questions, please contact <a href='https://www.diw.de/en/diw_01.c.605106.en/contact.html'>SOEP Community Management</a>."
		data-de="Bei Fragen steht Ihnen das <a href='https://www.diw.de/de/diw_01.c.605106.de/kontakt.html'>SOEP Community Management</a> zur Verfügung."></span>
	</p>
</div>

<div>
	<button id="navigation-view-switch" title="Ansicht wechseln">
		<span data-en="Toggle navigation view" data-de="Navigationsansicht wechseln"></span>
	</button>
</div>


<div id="statistics-button-container">


	<div class="one-button">
		<button id="at" class="statistics-button" title="Einstellungen, Werte und Persönlichkeit">
			<i class="fa-solid fa-compass"></i>
			<i class="fa fa-arrow-left hidden" aria-hidden="true"></i>
			<p data-en="Attitudes, Values, and Personality" data-de="Einstellungen, Werte und Persönlichkeit"></p>
		</button>
	</div>
	<div class="one-button">
		<button id="dp" class="statistics-button" title="Demographie und Bevölkerung">
			<i class="fas fa-chart-area"></i>
			<i class="fa fa-arrow-left hidden" aria-hidden="true"></i>
			<p data-en="Demography and Population" data-de="Demographie und Bevölkerung"></p>
		</button>
	</div>
	<div class="one-button">
		<button id="ed" class="statistics-button" title="Bildung und Qualifikation">
			<i class="fas fa-user-graduate"></i>
			<i class="fa fa-arrow-left hidden" aria-hidden="true"></i>
			<p data-en="Education and Qualification" data-de="Bildung und Qualifikation"></p>
		</button>
	</div>
	<div class="one-button">
		<button id="fn" class="statistics-button" title="Familie und soziale Netzwerke">
			<i class="fas fa-baby-carriage"></i>
			<i class="fa fa-arrow-left hidden" aria-hidden="true"></i>
			<p data-en="Family and Social Networks" data-de="Familie und soziale Netzwerke"></p>
		</button>
	</div>
	<div class="one-button">
		<button id="hc" class="statistics-button" title="Gesundheit und Pflege">
			<i class="fa-solid fa-hand-holding-medical"></i>
			<i class="fa fa-arrow-left hidden" aria-hidden="true"></i>
			<p data-en="Health and Care" data-de="Gesundheit und Pflege"></p>
		</button>
	</div>
	<div class="one-button">
		<button id="ha" class="statistics-button" title="Wohnen, Ausstattung und Leistungen privater HH">
			<i class="fas fa-home"></i>
			<i class="fa fa-arrow-left hidden" aria-hidden="true"></i>
			<p data-en="Home, Amenities, and Contributions of Private HH" data-de="Wohnen, Ausstattung und Leistungen privater HH"></p>
		</button>
	</div>
	<div class="one-button">
		<button id="it" class="statistics-button" title="Einkommen, Steuern und Soziale Sicherung">
			<i class="fas fa-coins"></i>
			<i class="fa fa-arrow-left hidden" aria-hidden="true"></i>
			<p data-en="Income, Taxes, and Social Security" data-de="Einkommen, Steuern und Soziale Sicherung"></p>
		</button>
	</div>
	<div class="one-button">
		<button id="im" class="statistics-button" title="Integration, Migration und Transnationalisierung">
			<i class="fas fa-globe"></i>
			<i class="fa fa-arrow-left hidden" aria-hidden="true"></i>
			<p data-en="Integration, Migration, Transnationalization" data-de="Integration, Migration und Transnationalisierung"></p>
		</button>
	</div>
	<div class="one-button">
		<button id="tu" class="statistics-button" title="Zeitverwendung und Umweltverhalten">
			<i class="fa-solid fa-clock"></i>
			<i class="fa fa-arrow-left hidden" aria-hidden="true"></i>
			<p data-en="Time Use and Environmental Behavior" data-de="Zeitverwendung und Umweltverhalten"></p>
		</button>
	</div>
	<div class="one-button">
		<button id="we" class="statistics-button" title="Arbeit und Beschäftigung">
			<i class="fas fa-tools"></i>
			<i class="fa fa-arrow-left hidden" aria-hidden="true"></i>
			<p data-en="Work and Employment" data-de="Arbeit und Beschäftigung"></p>
		</button>
	</div>

	<div class="variables-container hidden">
		<h3></h3>
		<div class="loading-spinner hidden">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<!-- Temporary for prototyping REMOVE -->
		<ul class="variables-list">
		</ul>
	</div>
</div>

<div id="funding-notice">
	<p data-en="Funded by the Federal Ministry of Education and Research (BMBF) – funding reference number 01IO2005 " data-de="Gefördert durch das Bundesministerium für Bildung und Forschung (BMBF) – Förderkennzeichen 01IO2005"></p>
	<img src="https://www.bmbf.de/SiteGlobals/Frontend/Images/icons/_common/logo.svg?__blob=normal&v=6">

</div>

		{% render_bundle "statistics_navigation" "js" %}
		{% endblock content %}
