{% extends "base_study.html" %}
{% load render_bundle from webpack_loader %}
{% load metadata_display %}


{% block styles%}
{% render_bundle "statistics" "css" %}
{% endblock styles %}

{% block content %}

{{ server_metadata|json_script:"statistics-server-metadata" }}
<div id="container">
	<div class="d-flex flex-row">
		{% if variable %}
		<h2 id="plot-header">{{variable.label_de}}</h2>
		{% endif %}
		<button
			type="button"
			class="btn btn-link"
			data-toggle="modal"
			data-target="#description-modal"
			id="description-button"
			title="Variablenbeschreibung Anzeigen">
			<i class="fas fa-info-circle"></i>
		</button>
		<button
			type="button"
			class="btn btn-link hidden"
			data-toggle="modal"
			data-target="#ci-modal"
			id="ci-button">
		</button>
	</div>
	<div class="d-flex justify-content-center" id="loading-spinner">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<iframe id="main-frame"
		src="{{ statistics_server_url }}?variable={{variable.id}}&no-title=TRUE"
		width="500" height="50%"
		frameborder="0"></iframe>

	<div id="second-frame-container">
		<div id="close-icon-container">
			<span class="clickable hidden" id="close-icon">
				<i class="fa fa-times"></i>
			</span>
		</div>
		<iframe class="hidden"
			id="second-frame"
			src=""
			frameborder="0"></iframe>
	</div>
	<button
		type="button"
		class="btn btn-secondary"
		id="second-plot-button"
		title="Vergleichsplot anzeigen">
		<i class="fas fa-plus"></i>
		<i class="fas fa-chart-line"></i>
	</button>

</div>

<div class="modal" tabindex="-1" role="dialog" id="description-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Beschreibung der Variable</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					{{variable.description_de | markdown_string | safe}}
				</p>
				<p>
					<a
						href="https://www.destatis.de/DE/Themen/Wirtschaft/Preise/Verbraucherpreisindex/Methoden/Erlaeuterungen/verbraucherpreisindex.html">More
						Information</a>
				</p>
				<p>
					{% if variable %}
					<a href="{% url 'data:variable_detail' study_name=variable.dataset.study.name dataset_name=variable.dataset.name variable_name=variable.name %}">
						Wissenschaftliche Dokumentation
					</a>
					{% endif %}
				</p>


				Infoboxen
			</div>
			<div class="modal-header">
				<h5 class="modal-title">Information zu Statistikgrundlagen</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
<h5>Mittelwert</h5>
<p>
Der Mittelwert gibt den Durchschnittswert (arithmetisches Mittel) der Beobachtungen an. Beispiel Haushaltseinkommen: die Summe aller Haushaltseinkommen geteilt durch die Anzahl der Haushalte. Ein Beispiel: bei der Liste 5 10 20 50 100, ist der Mittelwert = (5+10+20+50+100) / 5=37.
</p>
<h5>Median</h5> 
<p>
Der Median gibt den Wert an, bei dem exakt 50% der Beobachtungen darüber liegen (im Sinne von größer gleich) und 50% darunter liegen (im Sinne von kleiner gleich). Beispiel Haushaltseinkommen: Der Median gibt das Haushaltseinkommen an, bei dem die Hälfte der Haushalte weniger oder gleich viel verdienen und die Hälfte der Haushalte mehr oder gleich viel verdienen. Einfaches Beispiel: bei der Liste 5 10 20 50 100, ist der Median = 20. (Achtung: Median ist nicht gleich Mittelwert!)
</p>
<h5>Gewichtung</h5>
<p>
Da die Befragten des SOEP in ihrer Zusammensetzung nicht exakt die Bevölkerung abbilden, muss bei der statistischen Analyse sichergestellt werden, dass die Ergebnisse auf die Gesamtbevölkerung in Deutschland übertragen werden können. Dies geschieht über die Gewichtung. Um die Repräsentativität der Ergebnisse zu gewährleisten, erhält jede Person und jeder Haushalt ein Gewicht, sodass bestimmte Gruppen in den Analysen nicht über- bzw. unterrepräsentiert sind. Alle hier angegebenen Werte sind bereits gewichtet und daher repräsentativ für die deutsche Bevölkerung.
</p>
			</div>
		</div>
	</div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="ci-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Was bedeutet das Konfidenzintervall?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
				    Ein Konfidenzintervall gibt die Genauigkeit
				    eines statistischen Wertes an.
				    Ein 95%-Konfidenzintervall gibt zum Beispiel an,
				    dass das Konfidenzintervall den wahren Wert mit einer
				    Wahrscheinlichkeit von 95% umschließt.
				    Man kann sich das Konfidenzintervall in etwa als einen
				    Unsicherheitsbereich vorstellen, mit dem die
				    statistische Untersuchung den wahren Wert trifft.
				    Ein breites Konfidenzintervall deutet auf eine
				    größere Unsicherheit des „wahren“ Wertes hin;
				    es kann auf eine kleine Anzahl von Beobachtungen
				    zurückzuführen sein oder auf eine große Streuung der
				    Beobachtungen hinweisen. 
				</p>
			</div>
		</div>
	</div>
</div>


{% render_bundle "statistics" "js" %}
{% endblock content %}
