{% extends "base_study.html" %}
{% load render_bundle from webpack_loader %}
{% block view_metadata %}
  <meta name="namespace" content="{{ namespace }}"/>
{% endblock view_metadata %}
{% block styles %}
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  {% render_bundle "statistics_navigation" "css" %}
{% endblock styles %}
{% block content %}
  {{ topics|json_script:"topics" }}
  {{ api_metadata|json_script:"api-metadata" }}
  <div id="feedback-button-container">
    <a href="feedback/"
       type="button"
       class="btn button-feedback"
       title="Send us feedback.">Send us Feedback</a>
  </div>
  <div>
    <button id="navigation-view-switch"
            class="btn btn-info"
            title="Ansicht wechseln">
      Ansicht wechseln
    </button>
  </div>
  <div class="flex-row d-flex px-5 justify-content-center"
       id="statistics-button-container">
    <div class="one-button">
      <button id="at"
              class="btn btn-info statistics-button"
              title="Einstellungen, Werte und Persönlichkeit">
        <i class="fa-solid fa-compass"></i>
        <p>Einstellungen, Werte und Persönlichkeit</p>
      </button>
    </div>
    <div class="one-button">
      <button id="dp"
              class="btn btn-info statistics-button"
              title="Demographie und Bevölkerung">
        <i class="fas fa-chart-area"></i>
        <p>Demographie und Bevölkerung</p>
      </button>
    </div>
    <div class="one-button">
      <button id="ed"
              class="btn btn-info statistics-button"
              title="Bildung und Qualifikation">
        <i class="fas fa-user-graduate"></i>
        <p>Bildung und Qualifikation</p>
      </button>
    </div>
    <div class="one-button">
      <button id="fn"
              class="btn btn-info statistics-button"
              title="Familie und soziale Netzwerke">
        <i class="fas fa-baby-carriage"></i>
        <p>Familie und soziale Netzwerke</p>
      </button>
    </div>
    <div class="one-button">
      <button id="hc"
              class="btn btn-info statistics-button"
              title="Gesundheit und Pflege">
        <i class="fa-solid fa-hand-holding-medical"></i>
        <p>Gesundheit und Pflege</p>
      </button>
    </div>
    <div class="one-button">
      <button id="ha"
              class="btn btn-info statistics-button"
              title="Wohnen, Ausstattung und Leistungen privater HH">
        <i class="fas fa-home"></i>
        <p>Wohnen, Ausstattung und Leistungen privater HH</p>
      </button>
    </div>
    <div class="one-button">
      <button id="it"
              class="btn btn-info statistics-button"
              title="Einkommen, Steuern und Soziale Sicherung">
        <i class="fas fa-coins"></i>
        <p>Einkommen, Steuern und Soziale Sicherung</p>
      </button>
    </div>
    <div class="one-button">
      <button id="im"
              class="btn btn-info statistics-button"
              title="Integration, Migration und Transnationalisierung">
        <i class="fas fa-globe"></i>
        <p>Integration, Migration und Transnationalisierung</p>
      </button>
    </div>
    <div class="one-button">
      <button id="tu"
              class="btn btn-info statistics-button"
              title="Zeitverwendung und Umweltverhalten">
        <i class="fa-solid fa-clock"></i>
        <p>Zeitverwendung und Umweltverhalten</p>
      </button>
    </div>
    <div class="one-button">
      <button id="we"
              class="btn btn-info statistics-button"
              title="Arbeit und Beschäftigung">
        <i class="fas fa-tools"></i>
        <p>Arbeit und Beschäftigung</p>
      </button>
    </div>
    <div class="variables-container hidden">
      <h3 id="variables-header"></h3>
      <div class="d-flex justify-content-center hidden loading-spinner">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Temporary for prototyping REMOVE -->
      <ul style="display: flex;
                 flex-direction: column;
                 flex-wrap: wrap;
                 max-height: 40vh">
      </ul>
    </div>
  </div>
  {% render_bundle "statistics_navigation" "js" %}
{% endblock content %}
