.filter-options {
    visibility: hidden;
}

span.fancytree-node:hover > span.filter-options {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul.fancytree-container {
    border: none !important;
}

.description {
    display: block;
}

span.fancytree-expander:hover {
    color: steelblue !important;
}

.topic-list-wrapper {
    margin-top: 20px;
    display: flex;
}

.topic-list-content{
    height: calc(100vh - 250px);
    width: auto;
    overflow-y: auto;
}

.flex {
    display:flex;
}

html,
body {
    height: 100%;
}

/* Spinner taken from https://github.com/tobiasahlin/SpinKit */
.spinner {
    margin: 50px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: steelblue;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
