.filter-options {
    visibility: hidden;
}

span.fancytree-node:hover > span.filter-options {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul.fancytree-container {
    border: none !important;
}

.description {
    display: block;
}

span.fancytree-expander:hover {
    color: steelblue !important;
}

.topic-list-wrapper {
    margin-top: 20px;
    display: flex;
}

.topic-list-content{
    height: calc(100vh - 250px);
    width: auto;
    overflow-y: auto;
}

.flex {
    display:flex;
}

html,
body {
    height: 100%;
}
