/**
Full content is intended to be displayed separately in a bootstrap modal.
*/
#description-card-content {
  max-height: 20em;
  overflow: hidden;
}

#description-modal-content {
  max-height: 70vh;
  overflow: auto;
}
