tr > td.attachment {
  text-align: center;
}

th.attachments {
  width: 8em;
}

tr > td.attachment > div > a {
  margin-right: 0.5em;
}

#instruments-nav-link {
  font-weight: 900;
  background-color: #ffffff !important;
  border-radius: 10px 10px 10px 10px;
}
