@import "~bootstrap/scss/bootstrap";

.question-item-text {
  font-weight: bold;
}

.form-check {
  display: flex;
  flex-direction: column;
}

.item-answer-text {
  padding-left: 0.4em;
}

.fa-sign-out-alt,
.fa-sign-in-alt,
.fa-info-circle {
  color: $link-color;
}

.fa-sign-out-alt,
.fa-info-circle {
  padding-left: 0.5em;
}

.fa-sign-in-alt {
  padding-right: 0.5em;
}

.answers-table {
  width: 100%;
}
.answers-table > tr > th {
  min-width: 5em;
  text-align: center;
}
.answers-table > tr > td {
  min-width: 5em;
  text-align: left;
}
.answers-table > tr > td > input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

input[type="number"] {
  text-align: right;
}

input[type="text"] {
  text-align: right;
  display: inline-block;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10vw;
}

.item-input-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.item-input-container i {
  position: absolute;
  right: 190px;
  top: 7px;
}

.question-navigation-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.question-navigation {
  font-size: 1.5rem;
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-top: 0.1em;
  color: #6c757d !important;
}
