// TODO: remove styles that are now irrelevant

/** Search box size */
.css-m1gst5 {
  width: 100% !important;
}

/**
Facet box related
*/

ul.css-bbs1vb {
  padding-left: 0.5em;
}

/* Stops facet checkbox from shrinking when facet text is long. */
.css-1x5fnvc + label::before {
  min-width: 15px;
}

.sui-result__header {
  padding: 0 !important;
}

.sui-result {
  padding: 1em !important;
}

.fa {
  margin-right: 0.2em;
}

.sui-layout-body__inner {
  margin-left: 0 !important;
  justify-content: space-between;
}

// Search Menu section

.search-menu button {
  border: none;
  border-top: solid 1px;
  border-right: none;
  border-left: solid 1px;
  border-bottom: solid 1px;

  padding: 0.2em 0.5em 0.2em 0.5em;

  background-color: #f8f9fa;
}
.search-menu button:hover {
  background-color: #e9ecef;
}

button.active-search {
  background-color: #e9ecef !important;
}

.search-menu > :first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  border-left: solid 1px;
}

.search-menu > :last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border-right: solid 1px;
}
