#-second-frame {
  display: none;
}
#all-variables-container {
  display: flex;
  flex-direction: column;
}
iframe {
  width: 99%;
}
#statistics-button-container {
  margin-top: 1em !important;
}
@media screen and (min-width: 769px) {
  #main-frame {
    height: 50vh;
  }
  #second-frame {
    height: 45vh;
  }
}
@media screen and (max-width: 768px) {
  #main-frame {
    height: 100%;
  }
  #second-frame {
    height: 100%;
  }
}
.statistics-button {
  margin: 0 1vw 1vw 0;
  width: 13vw;
  height: 13vw;
  background-color: #9e1310;
  line-height: 50%;
  font-size: 1em;
}

.btn-info:hover {
  background-color: #adb5bd; //#9e1310
}

#variables-container {
  width: auto;
}

div#statistics-button-container {
  flex-wrap: wrap;
  width: 80vw;
}

.statistics-button > i {
  font-size: 9vw;
  margin-bottom: 0.7vw;
  margin-top: 0.3vw;
}
button > p {
  line-height: 100%;
}

.one-button {
  display: flex;
  flex-direction: row;
}

.one-button > * li {
  padding-right: 2em;
}
