#container {
	display: flex;
	flex-direction: column;
}
iframe {
	width: 99%
}
#main-container {
	margin-top: 0em !important;
}
#second-frame {
	margin-top: .5em;
}
#close-icon-container {
	cursor: pointer;
	position: absolute;
}
#second-plot-button{
	width: 4em;
	margin: 2em auto 0 auto
}
