#container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1001px) and (orientation: landscape) {
iframe {
  width: 99%;
  height: 100vh;
}
}
#main-container {
  margin-top: 0em !important;
}
#second-frame {
  margin-top: 0.5em;
}

#close-icon-container {
  cursor: pointer;
  position: absolute;
}
#second-plot-button {
  width: 4em;
  margin: 2em auto 0 auto;
}
#main-container {
  width: 100% !important;
}

@media only screen and (max-width: 1000px) and (orientation: portrait) {
  iframe {
    width: 300vw;
    height: 50rem;
  }
}

//For small screen that is mostly wide. To not stunt plot too much on the y axis
@media only screen and (max-width: 1400px) and (max-height: 450px) and (orientation: landscape) {
  html{
    font-size: medium;
  }
  iframe {
    width: 130vw;
    height: 200vh;
  }
}

//For small screen that is wide but also somewhat tall. To not squash plot too much on the y axis
@media only screen and (max-width: 1400px) and (min-height: 451px) and (orientation: landscape) {
  html{
    font-size: medium;
  }
  iframe {
    width: 130vw;
    height: 130vh;
  }
}
