:root {
  --justify-button-container: center;
}

#-second-frame {
  display: none;
}
#all-variables-container {
  display: flex;
  flex-direction: column;
}
iframe {
  width: 99%;
}

#navigation-view-switch {
  background-color: #0074ff;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 0.4em 0.8em 0.4em 0.8em;
}
#navigation-view-switch:hover {
  background-color: grey;
}

#statistics-button-container {
  margin-top: 1em !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: var(--justify-button-container);
}
@media screen and (min-width: 1610px) {
  #main-frame {
    height: 50vh;
  }
  #second-frame {
    height: 45vh;
  }
  .statistics-button > i {
    font-size: 9vw;
    margin-bottom: 0.7vw;
    margin-top: 0.3vw;
  }
}
@media screen and (max-width: 1609px) and (min-width: 1101px) {
  #main-frame {
    height: 100%;
  }
  #second-frame {
    height: 100%;
  }
  .statistics-button > i {
    font-size: 4vw;
    margin-bottom: 0.7vw;
    margin-top: 0.3vw;
  }
  .statistics-button {
    font-size: 0.8em;
    margin-bottom: 0.7vw;
    margin-top: 0.3vw;
  }
}

@media screen and (max-width: 1100px) and (min-width: 791px) {
  .statistics-button > i {
    font-size: 4vw;
    margin-bottom: 0.7vw;
    margin-top: 0.3vw;
  }
  .statistics-button {
    font-size: 0.7em;
    margin-bottom: 0.7vw;
    margin-top: 0.3vw;
    overflow-wrap: break-word;
  }
}

.statistics-button {
  margin: 0 1vw 1vw 0;
  width: 13vw;
  height: 13vw;
  background-color: #9e1310;
  color: white;
  line-height: 50%;
  border-radius: 20px;
  border: none;
}

.statistics-button:hover {
  background-color: grey;
}

.active-button {
  width: 2.5rem;
  height: 2.5rem;
}
.active-button > i {
  font-size: 1rem;
  margin: auto !important;
}

.active-button > p {
  display: none;
}

.btn-info:hover {
  background-color: #adb5bd; //#9e1310
}

#variables-container {
  width: auto;
}

div#statistics-button-container {
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0 3rem 0 3rem;
}

button > p {
  line-height: 100%;
}

.one-button {
  display: flex;
  flex-direction: row;
}

.one-button > * li {
  padding-right: 2em;
}

.variables-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 80vh;
  max-width: 40vw;
}

.variables-list > :has(h4) {
  list-style-type: none;
  padding-top: 1.5rem;
  padding-left: 0;
  margin-left: 0;
  offset: 10px;
}

.variables-list > li:not(:has(h4)) {
  margin-left: 2em;
}

.variables-list > li {
  max-width: 16vw;
}

#main-container {
  width: 100% !important;
  padding: calc(var(--navbar-height) + 1.5em) 1rem 0 1rem;
  margin: 0;
}

@media only screen and (max-width: 790px) {
  .statistics-button > :first-child {
    margin-top: auto;
    margin-bottom: auto;
  }

  .active-button {
    width: 4rem !important;
  }

  .statistics-button {
    margin: 0 0 0.5em 0;
    font-size: 0.7em;
    width: 95vw;
    height: 3em;
    background-color: #9e1310;
    line-height: 50%;
    overflow-wrap: break-word;
    display: flex;
  }

  #main-container {
    width: 100vw !important;
  }
  #statistics-button-container {
    width: 100vw;
    padding: 0 !important;
  }
  #statistics-button-container > .one-button {
    flex-direction: column;
  }
  .one-button,
  .statistics-button {
    width: 100%;
  }
  .statistics-button {
    min-height: fit-content;
  }

  .statistics-button > p {
    margin: auto !important;
    font-size: 1rem;
  }
  .variables-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: none;
    max-width: 90vw;
  }
  .variables-list > li {
    max-width: 100%;
  }
}

#description-header-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#description-header-container > h1 {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#description-header-container > h2 {
  font-size: 1.7rem;
  padding-left: 2rem;
}
