:root {
    --datatable-navigation-border-radius: 10px;
    --d-n-b-r: var(--datatable-navigation-border-radius);
}

nav[aria-label="pagination"] {
    width: 50%;
    height: 2em;
    border:solid;
    border-width: 2px;
    border-radius: var(--d-n-b-r);
    display: flex;
    justify-content:space-between;
    background: #dfdfdf;
    
}

.dt-paging-button {
    border: none;
    width: auto;
    background: none;
    padding: 0px 3px 0px 3px;
    flex: 1;
}

.dt-paging-button.current {
    background: #ffffff;
}
.dt-paging-button:hover {
    background: #bababa;
}

nav[aria-label="pagination"] button:first-child:hover{
        border-radius: var(--d-n-b-r) 0 0 var(--d-n-b-r);
}

nav[aria-label="pagination"] button:last-child:hover{
        border-radius: 0 var(--d-n-b-r) var(--d-n-b-r) 0;
}

nav[aria-label="pagination"] > button + button {
     border: black;
     border-left: 2px solid;
 }

nav[aria-label="pagination"] > span {
    border: black;
    border-left: 2px solid;
    border-right: 2px solid;
    padding: 0 7px  
 }

.dt-search{
    display: flex;
    justify-content: end;
    padding-bottom: 1rem
}

.dt-search label:first-child{
    padding-right: 1em;
}

.dt-length label:last-child{
    padding-left: 1em;
}
