.rm-var:after {
  content: "Remove variable";
}

.add-var:after {
  content: "Add variable";
}

.basket-button {
  width: 10em;
}

.basket-create-button {
  width: 12em;
}

.basket-create-button > a {
  color: white;
}

.related-periods {
  display: flex;
  flex-direction: row;
  max-width: 66vw;
  flex-wrap: wrap;
}

.related-variables {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 20vw;
  padding: 1em;
}
