.rm-var:after {
  content: "Remove variable";
}

.add-var:after {
  content: "Add variable";
}

.basket-button {
  width: 10em;
}

.basket-create-button {
  width: 12em;
}

.basket-create-button > a {
  color: white;
}

.related-periods {
  display: flex;
  flex-direction: row;
  max-width: 66vw;
  flex-wrap: wrap;
}

.related-variables {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 20vw;
  padding: 1em;
}

.dtfc-fixed-left {
  z-index: 20;
  background: rgba(242, 242, 242, 1);
  border-color: #dee2e6;
}

.variable-relations-badge {
    background-color: #f8f8f8;
    padding: .1em .5em;
    border-radius: 7px;
    color: black;
    font-size: .9em;
    font-weight: 700;
}

.input-icon, .output-icon, .sibling-icon, .concept-icon{
  margin-left: .2rem;

}

.input-icon{
  color: #009E73;
}

.output-icon{
  color: #CC79A7;
}

.sibling-icon{
  color: #E69F00;
}

.concept-icon{
  color: black;
}

.related-infobox-header{
  font-weight: bolder;
}

#variable-relations > .card-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60vw;
}

.period-container{
  margin: 1em;
}

.related-period-header{
  font-weight: bolder;
  font-size: 1.2rem
}

#variable-relations-header{
  display: flex;
  align-items: center;
}


#relations-buttons-container{
 margin-left: 1%
}

.line-through{
  text-decoration: line-through;
}
