.rm-var:after {
  content: "Remove variable";
}

.add-var:after {
  content: "Add variable";
}

.basket-button {
  width: 10em;
}

.basket-create-button {
  width: 12em;
}

.basket-create-button > a {
  color: white;
}

.related-periods {
  display: flex;
  flex-direction: row;
  max-width: 66vw;
  flex-wrap: wrap;
}

.related-variables {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 20vw;
  padding: 1em;
}

.dtfc-fixed-left {
  z-index: 20;
  background: rgba(242, 242, 242, 1);
  border-color: #dee2e6;
}

.variable-relations-badge {
    background-color: #f8f8f8;
    padding: .1em .5em;
    border-radius: 7px;
    color: black;
    font-size: .9em;
    font-weight: 700;
}
