{% extends "base_study.html" %}

{% block content %}


<div class="panel panel-default">
  <div class="panel-body">
    <div class="text-center">
      <p class="lead">{{ publication.author }} ({{ publication.year }})</p>
      <h1>{{ publication.title }}</h1>
      {% if publication.sub_type %}[{{ publication.sub_type }}]{% endif %}
    </div>
    {{ publication.html_abstract | safe }}
    {% if publication.url %}
    <div class="text-right">
      <a href="{{ publication.url }}" class="btn btn-primary">Go to publication</a>
    </div>
    {% endif %}
  </div>
</div>

{% if publication.studies %}
  <p><b>This publication uses the following data sources:</b></p>
  <p>{{ publication.studies }}</p>
{% endif %}

<p><b>Please cite as:</b></p>
{{ publication.html_cite | safe }}

{% endblock content %}
