{% extends "base_study.html" %}

{% block content %}


<div class="panel panel-default">
  <div class="panel-body">
    <div class="text-center">
      <p style="font-size: 150%;">{{ bibtex.title }}</p>
      <p><b>{{ bibtex.author }}</b></p>
      <p>{{ bibtex.year }}</p>
      <p>
        {{ bibtex.journal }}
        {{ bibtex.series }}
        {{ bibtex.booktitle }}
        {% if bibtex.volume %} · Vol {% endif %} {{ bibtex.volume }}
        {% if bibtex.number %} · No {% endif %} {{ bibtex.number }}
        {% if bibtex.pages %}  · p {% endif %} {{ bibtex.pages }}
      </p>
      <p>{{ bibtex.publisher }}</p>
      {% for link in links %}
        <p><a href="{{ link }}">
          {{ link }}
        </a></p>
      {% endfor %}
    </div>
    {{ bibtex.abstract }}
  </div>
</div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Show all details
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

  <table class="table">
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
  {% for key, value in bibtex.items %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>

      </div>
  </div>
</div>
{% endblock content %}
