{% extends "base_study.html" %}

{% block scripts %}
<script>
$(function(){
    $(".compare-btn").click(function(){
        var from_id = $( this ).attr("from_id");
        var to_id = $( this ).attr("to_id");
        console.log("Compare question " + from_id + " to question " + to_id + ".")
        $("#question_comparison").load("/api/questions/compare/" + from_id + "/" +  to_id);
    });
})
</script>
{% endblock %}

{% block content %}



<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 class="text-center">{{ question.get_cs_name }}</h2>
        <p>{{ question.description }}</p>
        {% for image_url in question.image_url.split %}
          <hr />
            <img src="{{ image_url }}" class="img-responsive">
        {% endfor %}
        <hr />
        {% for item in question.item_array %}
          {% include "questions/item_partial.html" %}
        {% endfor %}
      </div>
    </div>
    {% for language, translated_question in question.translations.items %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ language }}
      </div>
      <div class="panel-body">
        {% for item in translated_question %}
          {% include "questions/item_partial.html" %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  {% include "questions/related_questions.html" with question_list=related_questions2 table_name="Related questions" %}
  </div>

  <div class="col-md-3">
    {% include "questions/question_info.html" %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Variables</b>
      </div>
      {% if variables %}
      <div class="list-group">
        {% for variable in variables %}
          {% include "data/variable_result.html" %}
        {% endfor %}
      </div>
      {% else %}
      <div class="panel-body">
        <p>no related variables found</p>
      </div>
      {% endif %}
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Concepts</b>
      </div>
      <div class="list-group">
      </div>
      {% if concept_list %}
      <div class="list-group">
        {% for concept in concept_list %}
          {% include "concepts/concept_result.html" %}
        {% endfor %}
      </div>
      {% else %}
      <div class="panel-body">
        <p>no related concepts found</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>




{% endblock content %}
