<!-- TODO Refactor question_detail.html and children templates.
BODY templates/questions/question_detail.html
BODY Their structure is convoluted and confusing.
 -->
{% extends "base_study.html" %}
{% load render_bundle from webpack_loader %}

{% block styles %}
    <!-- Webpack bundle: "topics" CSS -->
    {% render_bundle 'questions' 'css' %}
{% endblock styles %}

{% block scripts %}
{% endblock %}
{% block title %}
    {{ question.instrument.title }}/{{ question.name }}
{% endblock %}
{% block content %}
    {{ question_items|json_script:"question-meta" }}
    <div class="row">
        <div class="col-xl-9">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center"><i class="fa fa-tasks"></i> EN</h2>
                </div>
                <div class="card-body" id="question-items">
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center"><i class="fa fa-tasks"></i> DE</h2>
                </div>
                <div class="card-body" id="question-items-de">
                </div>
            </div>
            {% include "questions/related_questions.html" with question_list=related_questions table_name="Related questions" %}
        </div>
        <div class="col-xl-3">
            {% include "questions/question_info.html" %}
            <div class="card">
                <div class="card-header"><b>Variables</b>
                </div>
                {% if variables %}
                    <div class="list-group">
                        {% for variable in variables %}
                        <div class="list-group-item">
                            <div>
                                <i class="fa fa-table"></i>
                                <a href="{{ variable.dataset.get_direct_url }}">
                                    {{ variable.dataset.name }}
                                </a>
                            </div>
                            <div>
                                <i class="fa fa-chart-bar"></i> 
                                <a href="{{ variable.get_direct_url }}">
                                    {{ variable.name }}
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="card-body">
                        <p>no related variables found</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% render_bundle 'questions' 'js' %}
{% endblock content %}
