{% if question.previous_question %}
    <a href="{{ question.previous_question }}" class="btn btn-secondary">Previous question</a>
{% endif %}
{% if question.next_question %}
    <a href="{{ question.next_question }}" class="btn btn-secondary float-right">Next question</a>
{% endif %}
<div class="clearfix"></div>
<hr>
<div class="card">
    <div class="card-header">Info</div>
    <div class="card-body">
        <p><b>Name:</b>
            {{ question.name }}
        </p>
        <p><b>Instrument:</b> This question is at position <b>{{ question.sort_id }}</b> in
            instrument <a href="{{ question.instrument.get_direct_url }}">

                {{ question.instrument.title }}

            </a>
        </p>
        <p>
            {% if image_urls.items %}
                {{ image_urls.image_label }}:
                {% if "en" in image_urls %} <a href="{{ image_urls.en }}" target="_blank">en</a>
                {% endif %}
                {% if "de" in image_urls %} <a href="{{ image_urls.de }}" target="_blank">de</a>
                {% endif %}
            {% endif %}
        </p>
        {% include "publications/attachments_partial.html" with attachments=question.attachments %}
    </div>
</div>