{{ row_helper.reset }}
<div class="panel panel-default">
  <div class="panel-heading">
    <b>{{ table_name }}</b>
  </div>
  <div class="panel-body">
    <div class="row">
      {% for period_name, questions in question_list.items %}
      <div class="col-md-3">
        {{ period_name }}:<br/>
        {% for q in questions %}
        <a href="{{ q }}">{{ q.instrument.name }}/{{ q.name }}</a><br/>
        <a href="#question_comparison" from_id="{{ question.id }}" to_id="{{ q.id }}" class="compare-btn">—compare—</a><br/>
        {% endfor %}
      </div>
      {% if row_helper.row %}
    </div>
    <div class="row" style="margin-top: 15px">
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="panel-heading">
    <b>Question comparison</b>
  </div>
  <div id="question_comparison" class="panel-body">
    <p>Please select a question above to compare.</p>
  </div>
</div>
