{% extends "base.html" %}

{% block content %}

    <p class="pull-right">
        <a class="btn btn-success" href="{% url 'workspace:basket_new' %}">Create basket</a>
    </p>

    <h1>Baskets</h1>

    {% for basket in basket_list %}
        <div class="list-group-item">
            <a href="{% url 'workspace:basket_delete' basket_id=basket.id %}"
               onclick="return confirm('Are you sure you want to delete basket {{ basket.name }}?')"
               class="badge"
            >
                <span class="fas fa-trash"></span>
            </a>
            <b><a href="{% url 'workspace:basket_detail' basket_id=basket.id %}">{{ basket.title }}</a></b>
            [basket: {{ basket.name }}]
            <br/>
            {{ basket }}
            <br/>
        </div>
    {% endfor %}

{% endblock content %}