<div class="list-group-item">
    <button class="btn btn-default btn-xs basket-button"
            variable_id="{{ variable.id }}"
            basket_id="{{ basket.id }}">
        <span class="fas fa-shopping-cart"></span>
    </button>
    <b><a href="{{ variable.get_direct_url }}">{{ variable.title }}</a></b>
    [variable: {{ variable.name }} ]
    <br/>
    <a href="{% url 'workspace:add_variable' basket_id=basket.id variable_id=variable.id %}">add</a>
    |
    <a href="{% url 'workspace:remove_variable' basket_id=basket.id variable_id=variable.id %}">remove</a>
</div>
