{% extends "base_basket.html" %}

{% block title %}
    {{ basket.name }}  (basket on paneldata.org)
{% endblock %}

{% block content %}
{% csrf_token %}

    <h1>Basket: {{ basket.name }}</h1>

    <div class="row">

        <div class="col-lg-12">
            {% include "workspace/basket_info.html" %}
        </div>
        <div class="col-lg-6">
            {% include "workspace/basket_actions_partial.html" %}
        </div>

        <div class="col-lg-6">
            {% include "workspace/script_list_partial.html" %}
        </div>
    </div>

    {% include "workspace/related_variable_table.html" %}

    {% if has_vars_without_concept %}
        <p>
            <strong>Variables without concept reference:</strong>
        </p>

        <ul>
            {% for variable in vars_without_concept %}
                <li>{{ variable.title }}
                    <span class="btn-group btn-group-xs btn-group-var" role="group">
        <button variable_id="{{ variable.id }}" basket_id="{{ basket.id }}"
                title="Remove variable" class="basket-button btn btn-success">
          <span class="fas fa-shopping-cart"></span>
        </button> 
        <a href="{{ variable.get_absolute_url }}" class="btn btn-secondary"
           title="{{ variable.name }}">
            {{ variable.name }} 
          </a>
        </span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}
