<table class="table">
  <thead>
    <tr>
      <th>Concept</th>
      <th></th>
      {% for p in period_list %} 
        <th>{{ p }}</th>
      {% endfor %} 
    </tr>
  </thead>
  <tbody>
    {% for concept_name, concept in related_variable_table.items %} 
      <tr>
        <td>
            <a href="/concept/{{ concept_name }}">{{ concept_name }}</a><br/>
            {{ concept.label}} 
        </td>
        <td>
          <a href="/workspace/baskets/{{ basket.id }}/add_concept/{{ concept.id }}">
            Add all
          </a>
          <br />
          <a href="/workspace/baskets/{{ basket.id }}/remove_concept/{{ concept.id }}">
            Remove all
          </a>
        </td>
        {% for period_name, period in concept.periods.items %} 
          <td>
            {% for variable in period %} 
              <span class="btn-group btn-group-xs btn-group-var" role="group">
              {% if variable.active %} 
                  <button variable_id="{{ variable.id }}" basket_id="{{ basket.id }}"
                     title="Remove variable" class="basket-button btn btn-success">
                    <span class="fas fa-shopping-cart"></span>
                  </button>
              {% else %} 
                <button variable_id="{{ variable.id }}" basket_id="{{ basket.id }}"
                   title="Add variable" class="basket-button btn btn-default">
                    <span class="fas fa-shopping-cart"></span>
                </button>
              {% endif %} 
                <a href="{{ variable.link }}" class="btn btn-default"
                   title="{{ variable.link }}">
                  {{ variable.name }} 
                </a>
              </span>
            {% endfor %} 
          </td>
        {% endfor %} 
      </tr>
    {% endfor %} 
  </tbody>
</table>
