{% if basket.get_script_generators %}
    <div class="card">
        <div class="card-header">
            <b>Created scripts</b>
        </div>
        <div class="list-group">
            {% for script in basket.script_set.all %}
                <div class="list-group-item">
                    <a href="{% url 'workspace:script_detail' basket_id=basket.id script_id=script.id %}">
                        {{ script.name }}
                    </a>
                    <a href="{% url 'workspace:script_delete' basket_id=basket.id script_id=script.id %}"
                       onclick="return confirm('Are you sure you want to delete script {{ script.name }}?')"
                       class="badge"
                    >
                        <span class="fas fa-trash"></span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}