{% extends "base_study.html" %}
{% load render_bundle from webpack_loader %}


{% block styles%}
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
			#container {
				display: flex;
				flex-direction: column;
			}
			iframe {
				width: 99%
			}
			#main-container {
				margin-top: 0em !important;
			}
			#close-icon {
				cursor: pointer;
				text-align: right;
			}
			#close-icon-container {
				text-align: right;
				position: absolute;
				flex-align: end;
				margin-left: auto
			}
			#second-plot-button{
				width: 3em;
				margin: 2em auto 1em auto
			}
		</style>
{% endblock styles %}

{% block content %}

{{ server_metadata|json_script:"transfer-server-metadata" }}
<div id="container">
	<div>
			</div>
			<iframe id="main-frame"
				src="http://localhost/transfer-server/numerical/?variable={{request.GET.variable}}"
				width="500" height="50%"
				frameborder="0"></iframe>

			<div>
			<span class="pull-right clickable hidden" id="close-icon">
			<i class="fa fa-times"></i></span>
			<iframe class="hidden"
				id="second-frame"
				src=""
				frameborder="0"></iframe>
			</div>
		<button
			type="button"
			class="btn btn-secondary"
			id="second-plot-button"
			title="Vergleichsplot anzeigen">+</button>

	</div>
</div>


		{% render_bundle "transfer" "js" %}
		{% endblock content %}
