{% extends "base_study.html" %}
{% load render_bundle from webpack_loader %}


{% block styles%}
<meta name="viewport" content="width=device-width, initial-scale=1">

{% render_bundle "transfer_navigation" "css" %}
{% endblock styles %}

{% block content %}

{{ server_metadata|json_script:"transfer-server-metadata" }}
<div id="container" class="flex-row justify-content-between">
	<div>
	<h2>Categorical</h2>
	<ul>
	{% for variable, label in categorical_variables.items %}
	<li>
		<a
		href="{% url 'transfer:transfer_detail' study=study.name plot_type='categorical' %}?variable={{variable}}">
		{{label}}: {{variable}}
		</a>
	
	</li>

	{% endfor %}
	</ul>
	</div>
	<div>
	<h2>Numerical</h2>
	<ul>
	{% for variable, label in numerical_variables.items %}
	<li>
		<a
		href="{% url 'transfer:transfer_detail' study=study.name plot_type='numerical' %}?variable={{variable}}">
		{{label}}: {{variable}}
		</a>
	
	</li>
	{% endfor %}
	</ul>
	</div>
</div>

        <div class="flex-row d-flex px-5 justify-content-center"
            id="transfer-button-container">


		<button class="btn btn-info transfer-button" title="Attitudes, Values, and
			Personality">
			<i class="far fa-compass"></i>
			<p>Attitudes, Values, and Personality</p>
		</button>
		<button class="btn btn-info transfer-button" title="Demography and
			Population">
			<i class="fas fa-chart-area"></i>
			<p>Demography and Population</p>
		</button>
		<button class="btn btn-info transfer-button" title="Education and
			Qualification">
			<i class="fas fa-user-graduate"></i>
			<p>Education and Qualification</p>
		</button>
		<button class="btn btn-info transfer-button" title="Family and Social
			Networks">
			<i class="fas fa-baby-carriage"></i>
			<p>Family and Social Networks</p>
		</button>
		<button class="btn btn-info transfer-button" title="Health and Care">
			<i class="far fa-hand-holding-medical"></i>
			<p>Health and Care</p>
		</button>
		<button class="btn btn-info transfer-button" title="Home, Amenities, and
			Contributions of Private Households">
			<i class="fas fa-home"></i>
			<p>Home, Amenities, and Contributions of Private Households</p>
		</button>
		<button class="btn btn-info transfer-button" title="Income, Taxes, and
			Social Security">
			<i class="fas fa-coins"></i>
			<p>Income, Taxes, and Social Security</p>
		</button>
		<button class="btn btn-info transfer-button" title="Integration, Migration,
			Transnationalization">
			<i class="fas fa-globe"></i>
			<p>Integration, Migration, Transnationalization</p>
		</button>
		<button class="btn btn-info transfer-button" title="Time Use and
			Environmental Behavior">
			<i class="far fa-clock"></i>
			<p>Time Use and Environmental Behavior</p>
		</button>
		<button class="btn btn-info transfer-button" title="Work and Employment">
			<i class="fas fa-tools"></i>
			<p>Work and Employment</p>
		</button>
		<div id="sub-topics">
			<h3></h3>
			<ul>
			<li>Lorem</li>
			<li>Ipsum</li>
			</ul>
		</div>
        </div>

		{% render_bundle "transfer_navigation" "js" %}
		{% endblock content %}
