<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/study/{{ study.pk }}#">
      {{ study.title }}
    </a>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/study/{{ study.pk }}#datasets">Datasets</a></li>
      <li><a href="/study/{{ study.pk }}#topics">Topics</a></li>
    </ul>
    <p class="navbar-text navbar-right">
    </p>
  </div><!--/.nav-collapse -->
</div>
