{% extends "base_study.html" %}

{% block content %}

  <h2>Topics</h2>
  <a class="anchor" id="topics"></a>
  {% for topic in topics %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#topic_{{ topic.name }}" aria-expand="true" aria-controlls="topic_{{ topic.name }}">
          {{ topic.label }}
        </a>
      </div>
      <div class="panel-body panel-collapse collapse" id="topic_{{ topic.name }}">
        {{ topic.content | safe }}
      </div>
    </div>
  {% endfor %}

{% endblock content %}
