{% extends "base_study.html" %}
{% load render_bundle from webpack_loader %}


{% block title %}
    {{ study.name }}
{% endblock %}

{% block content %}

    <div id="study-name" value="{{ study.name }}" has-extended-metadata="{{ has_extended_metadata }}"></div>

    <div class="row">
        <div class="col-lg-9">
            {{ study.html_description | safe }}
        </div>
        <div class="col-lg-3">
            <div class="card info-panel">
                <div class="card-header">
                    <b>
                        <span
                            data-en="Study info"
                            data-de="Studieninformation"></span>
                    </b>
                </div>
                <div class="card-body">
                    <ul class="card-listing">
                    <li><span>Name</span>: {{ study.name }}</li>
                    <li><span>Label</span>: {{ study.label }}</li>
                    <li>
                        <span
                            data-en="Datasets"
                            data-de="Datensätze"></span>:
                        {{ num_datasets }}
                    </li>
                    <li>
                        <span 
                            data-en="Variables"
                            data-de="Variablen"></span>:
                        {{ num_variables }}
                    </li>
                    <li>
                        <span
                            data-en="Instruments"
                            data-de="Instrumente"></span>:
                        {{ num_instruments }}
                    </li>
                    <li>
                        <span
                            data-en="Questions"
                            data-de="Fragen"></span>:
                        {{ num_questions }}
                    </li>
                    </ul>
                    {% include "publications/attachments_partial.html" with attachments=study.attachments %}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
