{% extends "base_study.html" %}
{% load render_bundle from webpack_loader %}

{% block view_metadata %}
    <meta name="namespace" content="{{ namespace }}">
{% endblock view_metadata %}

{% block styles %}
    <!-- Webpack bundle: "topics" CSS -->
    {% render_bundle 'topics' 'css' %}
{% endblock styles %}

{% block scripts %}
    {% render_bundle 'topics' 'js' %}
{% endblock scripts %}

{% block content %}
{% csrf_token %}


{{ json_object|json_script:"context_data" }}

    <div id="topic-tree-container">
    <div class="row" id="topic-search-bar-container">
        <div class="search-bar">
            <div class="input-group">

                {% if request.COOKIES.paneldata_language == "de" %}
                    <input 
                        type="text"
                        class="form-control"
                        placeholder="Suche"
                        id="search">
                {% else %}
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Search"
                        id="search">
                {% endif %}

                <span class="input-group-btn">    
            <button class="btn btn-secondary" type="button" aria-pressed="true" id="btn-search"><span
                    class="fas fa-search"
                    aria-hidden="true"></span></button>
        </span>
            </div>
        </div>
    </div>

    <div id="topic-display">
        <div id="topic-tree-content">
            <div id="tree"></div>
        </div>
        <div id="related-elements">
            <div id="related-table">
            </div>
            <table id="variable-table" class="table table-striped table-bordered hidden">
            <thead>
            <tr>
            <th>Label</th>
            <th>Variable</th>
            <th data-en="Dataset" data-de="Datensatz"></th>
            </tr>
            </thead>
            </table>
            <table id="question-table" class="table table-striped table-bordered hidden">
            <thead>
            <tr>
            <th>Label</th>
            <th data-en="Question" data-de="Frage"></th>
            <th data-en="Instrument" data-de="Instrument"></th>
            </tr>
            </thead>
            </table>
        </div>
    </div>
</div>

    <div class="modal fade" tabindex="-1" role="dialog" id="topic-list-add-to-basket">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex bg-light">
                    <h4 class="modal-title" data-en="Add to basket" data-de="Zum Warenkorb hinzufügen"></h4>
                    <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success hidden" role="alert" id="basket_success">
                        <strong>Successfully </strong>added to basket.
                    </div>
                    <div class="alert alert-danger hidden" role="alert" id="basket_error">
                        <strong>An error occurred. </strong>Please try again later.
                    </div>
                    <p>
                        <span data-en="Do you really want to add" data-de="Wollen Sie"></span>
                        <span id="number-of-variables"></span>
                        <span
                            data-en="variable(s) to your basket?"
                            data-de="Variablen zu Ihrem Warenkorb hinzufügen?">
                        </span>
                    </p>
                    <p
                        data-en="Select a basket:"
                        data-de="Wählen Sie einen Warenkorb aus:">
                    </p>
                    <div id="basket_list"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
