{% extends "base_study.html" %}

{% block title %}
    {{ study.name }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-9">
            {{ study.html_description | safe }}
        </div>
        <div class="col-lg-3">
            <div class="card info-panel">
                <div class="card-header">
                    <b>Study info</b>
                </div>
                <div class="card-body">
                    <p>Name: {{ study.name }}</p>
                    <p>Label: {{ study.label }}</p>
                    <p>Datasets: {{ num_datasets }}</p>
                    <p>Variables: {{ num_variables }}</p>
                    <p>Instruments: {{ num_instruments }}</p>
                    <p>Questions: {{ num_questions }}</p>
                    {% include "publications/attachments_partial.html" with attachments=study.attachments %}
                </div>
            </div>
        </div>
    </div>

    <h2>Datasets</h2>
    <a class="anchor" id="datasets"></a>
    {% include "data/dataset_table.html" with table_id="dataset_table" %}
    <h2>Instruments</h2>
    <a class="anchor" id="instruments"></a>
    {% include "instruments/instrument_table.html" with table_id="instrument_table" %}

{% endblock content %}
