<div class="card info-panel">
    <div class="card-header"> 
      <b>Study info</b>
    </div>
    <div class="card-body">
        <p>Name: {{ study.name }}</p>
        <p>Label: {{ study.label }}</p>
        <p>Datasets: {{ num_datasets }}</p>
        <p>Variables: {{ num_variables }}</p>
        <p>Instruments: {{ num_instruments }}</p>
        <p>Questions: {{ num_questions }}</p>
        {% include "publications/attachments_partial.html" with attachments=study.attachments %}
    </div>
</div>
