<h2>Variables</h2>
<table class="table">
    <thead>
    <tr>
        <th>Variable (label)</th>
        <th>Variable</th>
        <th>Dataset</th>
    </tr>
    </thead>
    <tbody>
    {% for variable in variables %}
        <tr>
            {% if language == "de" %}
                <td>{{ variable.title_de }}</td>
            {% else %}
                <td>{{ variable.title }}</td>
            {% endif %}
            <td><a href="{{ variable.get_direct_url }}">{{ variable.name }}</a></td>
            <td><a href="{{ variable.dataset.get_absolute_url }}">{{ variable.dataset.name }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
