<h2>Questions</h2>
<table class="table">
    <thead>
    <tr>
        <th>Question (label)</th>
        <th>Question</th>
        <th>Instrument</th>
    </tr>
    </thead>
    <tbody>
    {% for question in questions %}
        <tr>
            <td>{{ question.title }}</td>
            <td><a href="{{ question.get_direct_url }}">{{ question.name }}</a></td>
            <td><a href="{{ question.instrument.get_absolute_url }}">{{ question.instrument.name }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
