{% extends "base.html" %}

{% block content %}

<h1>Imprint</h1>


<app-root study="soep" basket="1">Loading...</app-root>
<script type="text/javascript" src="/static/js/elastic/inline.bundle.js"></script>
<script type="text/javascript" src="/static/js/elastic/polyfills.bundle.js"></script>
<script type="text/javascript" src="/static/js/elastic/styles.bundle.js"></script>
<script type="text/javascript" src="/static/js/elastic/vendor.bundle.js"></script>
<script type="text/javascript" src="/static/js/elastic/main.bundle.js"></script></body>

{% endblock content %}
