{% if settings.SETTINGS_MODULE == "settings.production" %}
    <!-- Piwik anonymized -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//piwik.diw.de/piwik/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '26']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="//piwik.diw.de/piwik/piwik.php?idsite=26" style="border:0;" alt=""/></p></noscript>
    <!-- End Piwik Code -->
{% else %}
    <!-- No tracking code included with these settings -->
{% endif %}
