name: System-Tests

on:
  push:
    branches:
      - master
      - develop
  # Run tests for any PRs.
  pull_request:

env:
  COMPOSE_FILE: docker-compose.yml:docker-compose-ci.yml

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Before install
        run: |
          docker --version
          docker compose --version
          mkdir codecov_reports
          git submodule init
          git submodule update --recursive
      - name: Install
        run: |
          docker compose config
          docker compose up --build -d
          docker images
          docker ps -a
          docker exec ddionrails-web-1 bash -c \
          'pip install --no-cache-dir poetry'
          docker exec ddionrails-web-1 bash -c "apk add --no-cache npm"
          docker exec ddionrails-web-1 bash -c \
          'poetry export --with dev --without-hashes -f requirements.txt > Requirements.txt'
          docker exec ddionrails-web-1 cat Requirements.txt
          docker exec ddionrails-web-1 pip install -r Requirements.txt
          docker exec ddionrails-web-1 npm install
          docker exec ddionrails-web-1 npm run build
      - name: Unittests
        if: always()
        run: |
          docker exec ddionrails-web-1 pytest --cov-report xml:./codecov_reports/coverage.xml \
          --cov --cov-report html --cov-branch
      - name: Functional tests
        if: always()
        run: |
          docker exec ddionrails-web-1 pytest --cov-report xml:./codecov_reports/coverage.xml --cov --cov-report html --cov-branch \
          -m "functional" --cov-append
      - name: Run migrations
        run: docker exec ddionrails-web-1 python manage.py migrate
      - name: Check production settings file
        run: |
          docker exec --env DJANGO_DEBUG="False" ddionrails-web-1  python manage.py check \
          --deploy --settings=config.settings.production
      - name: Upload codecov report
        if: always()
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./codecov_reports/coverage.xml
          fail_ci_if_error: true
          verbose: true
